$navbarHeight: 6rem;
$navbarSeperateLeftRight: 2rem;
$navbarCenterItemSeperate: 2rem;
$navbarRightDialogSize: 4rem;
$navbarRightDialogIconSize: 1.8rem;
$navbarRightDialogBoxBorderRadius: 0.7rem;
$navbarRightDialogBoxWidth: 30rem;
$navbarRightDialogBoxSeperate: 1rem;
$navbarRightDialogBoxMaxHeight: 36rem;
$navbarRightDialogBoxHeaderHeight: 3.6rem;
$navbarRightDialogBoxFooterBtnHeight: 3.6rem;
$navbarRightDialogBoxItemHeight: 5.6rem;
